div#tabs-wrapper {
	/*float: left;*/
	display: block;
	clear: both;
}

#tabs-wrapper ul.primary {
	text-align: left;
	display: block;
	height: auto;
}
#tabs-wrapper ul.primary li {
	display: list-item;
	list-style: decimal;
	float: none;
	text-align: left;
}
#tabs-wrapper ul.primary a {
	padding: 5px 0;
}
